[Unit]
Description=Temperature sensor that triggers leds depending on the range 

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/home/debian/set_up_drivers_3.sh"
User=root

[Install]
WantedBy=multi-user.target

